# Capacitor / Android
node_modules/
.gradle/
build/
local.properties
*.iml
.idea/
*.log
*.hprof
*.apk
*.aab
*.aar
*.keystore
*.jks
capacitor-cordova-android-plugins
app/src/main/assets/public
app/src/main/assets/capacitor.config.json

# Python / Django
__pycache__/
*.pyc
db.sqlite3
*.db
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
